/* Fonts */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@mixin reg {
    font-family: 'ProximaNova_reg', sans-serif;
    font-weight: 400;
}
@mixin bold {
    font-family: 'ProximaNova_bold', sans-serif;
    font-weight: 700;
}
/* Colors */
$color-btn: #ffb504;
$color-btn-border: #ffba15;
$color-icons: #70c849;
$color-green: #358015;
$color-text: #1a1820;
$color-danger: #ff0000;
$color-bg-light: #f5f5f5;
$color-white: #fff;
$color-main-dark: #292929;
$color-input-border: #ddd;
$upsell-bg: #286b0a;

/* Basic setting */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    @include reg;
}
button, input, a, textarea {
    &:focus {
        outline: none;
    }
}
ul {
    padding: 0;
    list-style: none;
}
.button {
    @include bold;
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: $color-btn;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border: 1px solid $color-btn-border;
    box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.03);
    border-radius: 8px;
    transition: all 0.5s;
    &:hover {
        background-color: darken($color-btn, 5%);
    }
}

/* Typograhy */
section {
    padding: 10rem 0;
}
.section-title {
    @include bold;
    font-size: 3.6rem;
    line-height: 1.2;
    color: $color-text;
    text-align: center;
}
.section-subtitle {
    @include reg;
    font-size: 1.8rem;
    line-height: 1.2;
    color: $color-text;
    margin-top: 5rem;
    text-align: center;
}
.light {
    color: $color-white;
}
.green {
    color: $color-green;
}

/* Main */
.main {
    padding: 3rem 0 5rem;
    background: url(../img/main-bg.jpg) center center no-repeat;
    background-size: cover;
    &-content {
        margin-top: 14rem;
    }
    &-title {
        @include bold;
        font-size: 4rem;
        line-height: 58px;
        text-transform: uppercase;
        color: $color-main-dark;
        margin-bottom: 5rem;
    }
    &-subtitle {
        @include reg;
        font-size: 2.4rem;
        line-height: 1.2;
        max-width: 272px;
        margin-bottom: 6rem;
        color: $color-main-dark;
    }
    &-block {
        display: block;
        @include bold;
        font-size: 1.8rem;
        line-height: 1.2;
        color: $color-white;
        padding: 3rem 4rem;
        max-width: 225px;
        text-align: center;
        background-color: $color-icons;
        margin-bottom: 4rem;
        strong {
            font-size: 3rem;
        }
    }
    &-trigger {
        @include bold;
        font-size: 2.2rem;
        line-height: 58px;
        text-transform: uppercase;
        color: $color-main-dark;
    }
}
.form {
    padding: 4rem 5rem;
    background-color: $color-white;
    text-align: center;
    position: relative;
    &-title {
        @include reg;
        font-size: 1.8rem;
        line-height: 1.2;
        color: $color-main-dark;
        margin-bottom: 4rem;
        strong {
            @include bold;
        }
    }
    &-input {
        display: block;
        width: 256px;
        margin: 0 auto 2rem;
        border: 1px solid $color-input-border;
        border-radius: 5px;
        padding: 2rem;
    }
    &-btn {
        display: block;
        font-size: 1.6rem;
        line-height: 1.2;
        width: 256px;
        margin: 0 auto;
        height: 5.5rem;
    }
    &-text {
        display: block;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #565656;
        margin-top: 1.5rem;
    }
    label {
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.3rem;
        line-height: 1.2;
        color: #565656;
        padding: 1rem;
        background-color: $color-white;
    }
}
.phone-link {
    display: block;
    @include bold;
    font-size: 2rem;
    line-height: 1.2;
    color: $color-main-dark;
    text-decoration: none;
    text-align: right;
}
.slick-active {
    outline: none;
}
.arrow {
    position: absolute;
    z-index: 99;
    height: 20px;
    width: 20px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}
.prev {
    left: 0;
    background: url(../img/slider/arrow-left.svg) center no-repeat;
    background-size: 100%;
    &:hover {
        background: url(../img/slider/arrow-left-active.svg) center no-repeat;
        background-size: 100%;
    }
}
.next {
    right: 0;
    background: url(../img/slider/arrow-right.svg) center no-repeat;
    background-size: 100%;
    &:hover {
        background: url(../img/slider/arrow-right-active.svg) center no-repeat;
        background-size: 100%;
    }
}
.features {
    &-slider {
        margin-top: 10rem;
    }
    &-block {
        text-align: center;
    }
    &-img {
        height: 7rem;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    &-title {
        @include bold;
        font-size: 2rem;
        line-height: 1.2;
        color: $color-text;
        margin-bottom: 3.5rem;
    }
    &-text {
        @include reg;
        font-size: 1.6rem;
        line-height: 20px;
        color: $color-text;
        max-width: 90%;
        margin: 0 auto;
        a {
            text-decoration: underline;
            color: #4aa223;
        }
    }
}
.materials {
    background-color: #fcfcfc;
    &-slider {
        margin: 8rem 0;
    }
    &-block {
        text-align: center;
        a {
            text-decoration: underline;
            @include reg;
            font-size: 1.6rem;
            line-height: 18px;
            text-decoration: underline;
            color: #6ba253;
        }
    }
    &-img {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    &-title {
        @include bold;
        font-size: 2.2rem;
        line-height: 18px;
        color: $color-text;
        margin-bottom: 2.7rem;
    }
    &-text {
        @include reg;
        font-size: 1.9rem;
        line-height: 20px;
        color: $color-text;
        max-width: 90%;
        margin: 0 auto;
    }
    &-link {
        display: inline-block;
        margin-top: 2.6rem;
        &:hover {
            color: darken(#6ba253, 10%);
        }
    }
    &-info {
        text-align: center;
        @include reg;
        font-size: 2rem;
        line-height: 18px;
        color: $color-text;
        &_link {
            text-decoration: underline;
            color: #509134;
            &:hover {
                color: darken(#6ba253, 10%);
            }
        }
        &_tel {
            @include bold;
            text-decoration: none;
            color: $color-text;

            &:hover {
                color: darken($color-text, 10%);
            }
        }
    }
}
.price {
    background-color: $upsell-bg;
    &-btn {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
    }
    &-button {
        padding: 25px 32px;
        @include bold;
        font-size: 1.8rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: $color-white;
    }
    &-container {
        margin-top: 9rem;
    }
    &-block {
        // max-width: 400px;
        min-height: 690px;
        text-align: center;
        padding: 50px 50px 45px;
        background-color: $color-white;
        box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.17);
    }
    &-title {
        @include bold;
        font-size: 1.9rem;
        line-height: 20px;
        color: $color-text;
        margin-bottom: 3.4rem;
    }
    &-img {
        margin-bottom: 3.4rem;
        max-width: 100%;
    }
    &-tag {
        display: block;
        @include bold;
        font-size: 1.9rem;
        line-height: 20px;
        color: $color-text;
        margin-bottom: 3.2rem;
        strong {
            font-size: 3rem;
        }
    }
    &-list {
        margin-bottom: 2rem;
        min-height: 180px;
    }
    &-item {
        @include reg;
        font-size: 1.8rem;
        line-height: 30px;
        color: $color-text;
        &::before {
            content: '';
            display: inline-block;
            width: 11px;
            height: 9px;
            margin-right: 10px;
            background: url(../img/prices/check.png) center no-repeat;
        }
    }
    &-action {
        @include bold;
        font-size: 1.8rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: $color-white;
        padding: 25px 58px;
    }
}
.feedback {
    position: relative;
    background: #ededed url(../img/feedback/bg.jpg) center no-repeat;
    background-size: cover;
    &-prev-btn {
        left: -5rem;
    }
    &-next-btn {
        right: -5rem;
    }
    &-slider {
        margin-top: 10rem;
        padding: 5rem 6rem;
        box-shadow: 0px 12px 18px 0 rgba(0, 0, 0, 0.11);
        background-color: $color-white;
        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 6rem;
            width: 5rem;
            background-color: $color-icons;
            border: none;
            img {
                width: 1.5rem;
            }
        }
        p {
            @include reg;
            font-size: 1.6rem;
            line-height: 1.2;
            color: $color-text;
        }
    }
    &-comment {
        position: relative;
        margin-top: 2rem;
        font-style: italic;
        padding: 2rem;
        border: 2px solid $color-icons;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            left: 4rem;
            width: 2rem;
            height: 2rem;
            background-color: $color-white;
            border: 2px solid $color-icons;
            border-bottom: none;
            border-top-right-radius: 100px;
        }
    }
    &-form {
        margin-top: 6rem;
        .form {
            padding: 5rem 10rem;
        }
    }
    &-label {
        position: relative;
        z-index: 2;
        .form-input {
            margin-bottom: 3rem;
        }
    }
    &-title {
        @include bold;
        font-size: 2.2rem;
        line-height: 18px;
        color: $color-text;
        margin-bottom: 4.6rem;
    }
    &-hand {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.media {
    display: flex;
    align-items: flex-start;
    margin-top: 4.6rem;
    &-img {
        margin-right: 2rem;
    }
    &-title {
        @include reg;
        font-size: 1.4rem;
        line-height: 22px;
        color: $color-text;
    }
    &-subtitle {
        @include bold;
        font-size: 1.6rem;
        line-height: 22px;
        color: $color-text;
    }
    &-text {
        @include reg;
        font-size: 1.3rem;
        line-height: 18px;
        color: $color-text;
    }
}
.scheme {
    background: #fff url(../img/scheme/bg.png) bottom -13.4rem right no-repeat;
    background-size: 85rem;
    &-block {
        margin-top: 6.5rem;
    }
    &-img {
        max-height: 90px;
        margin-bottom: 3.5rem;
    }
    &-title {
        @include bold;
        font-size: 2.2rem;
        line-height: 18px;
        color: $color-text;
        margin-bottom: 2.5rem;
    }
    &-text {
        @include reg;
        font-size: 1.7rem;
        line-height: 18px;
        color: $color-text;
        max-width: 277px;
    }
}
.circle {
    display: inline-block;
    background: $color-green;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &-border {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        padding: 0.3rem;
        border: 2px solid $color-green;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
        color: $color-white;
        @include bold;
        font-size: 2rem;
    }
}
.inclusive {
    background: #f5f5f5;
    &-block {
        margin-top: 5.4rem;
    }
    .media {
        align-items: center;
        &-title {
            @include bold;
            font-size: 1.6rem;
            line-height: 18px;
            color: $color-text;
            max-width: 192px;
        }
        &-body {
            margin-left: 1.8rem;
        }
    }
}
.opacity-5 {
    opacity: 0.5;
}
.problems {
    position: relative;
    &-blocks {
        margin-top: 8.6rem;
    }
    &-block {
        padding: 5rem 4rem;
        min-height: 41rem;
        &_bad {
            border: 4px solid #e8e8e8;
        }
        &_good {
            border: 4px solid #358015;
        }
    }
    &-title {
        @include bold;
        font-size: 2.1rem;
        line-height: 18px;
        color: #313131;
        margin-bottom: 5rem;
    }
    &-list {
        margin-bottom: 0;
    }
    &-item {
        @include reg;
        font-size: 1.6rem;
        line-height: 18px;
        color: #313131;
        position: relative;
        padding-left: 4.5rem;
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.8rem;
            height: 1.8rem;
            background: #000;
        }
        &_bad:before {
            background: url(../img/close.png) center no-repeat;
        }
        &_good:before {
            background: url(../img/check.png) center no-repeat;
        }
    }
    &-girl {
        position: absolute;
        width: 30rem;
        left: 50%;
        bottom: 0;
        margin-left: -20rem;
    }
}
.tour {
    background: $color-white url(../img/tour-bg.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 12rem;
    &-title {
        @include bold;
        font-size: 4rem;
        line-height: 58px;
        text-transform: uppercase;
        color: $color-main-dark;
        margin-bottom: 5rem;
    }
    &-subtitle {
        @include reg;
        font-size: 2.4rem;
        line-height: 1.2;
        max-width: 505px;
        margin-bottom: 6rem;
        color: $color-main-dark;
    }
    .form-btn {
        font-size: 1.4rem;
        width: 260px;
    }
}
.upsell {
    background-color: $upsell-bg;
    &-block {
        margin-top: 7rem;
        text-align: center;
    }
    &-img {
        margin-bottom: 3rem;
    }
    &-text {
        @include bold;
        font-size: 20px;
        line-height: 18px;
        color: #fcfcfc;
        margin-bottom: 33px;
    }
    &-btn {
        @include bold;
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $color-white;
        padding: 18px 50px;
    }
}
.contacts {
    background: $color-white url(../img/contacts/bg.jpg) center center no-repeat;
    background-size: cover;
    &-title {
        @include bold;
        font-size: 36px;
        line-height: 58px;
        color: $color-main-dark;
        margin-bottom: 67px;
    }
    &-text {
        @include reg;
        font-size: 18px;
        line-height: 1.2;
        color: $color-main-dark;
        margin-bottom: 40px;
        &_end {
            margin-bottom: 0;
        }
    }
    &-map {
        margin-bottom: 35px;
    }
    &-tel, &-mail {
        @include bold;
        font-size: 18px;
        line-height: 1.2;
        color: $color-main-dark;
        text-decoration: none;
        &:hover {
            color: $color-main-dark;
        }
    }
    &-mail {
        @include reg;
        text-decoration: underline;
    }
    .form-btn {
        font-size: 1.4rem;
        width: 260px;
    }
}
.footer {
    padding: 4rem 0;
    &-block {
        align-items: center;
    }
    &-contacts {
        text-align: center;
    }
    &-text, &-tel, &-mail {
        @include bold;
        font-size: 17px;
        line-height: 24px;
        color: $color-main-dark;
        text-decoration: underline;
        margin-bottom: 0;
        &:hover {
            color: $color-main-dark;
        }
    }
    &-text, &-mail {
        @include reg;
    }
    &-logo {
        text-align: right;
        &-text {
            @include reg;
            font-size: 11px;
            line-height: 1.2;
            color: #000000;
        }
    }
}
.mb-15 {
    margin-bottom: 15px;
}
/* Модальные окна */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
    &-close {
        position: absolute;
        top: 0;
        right: -5rem;
        width: 3rem;
        height: 3rem;
        border: none;
        background: url(../img/close.svg) center no-repeat;
        background-size: 100%;
    }
    &-content {
        position: fixed;
        left: 50%;
        top: 50%;
        background-color: $color-white;
        transform: translate(-50%, -50%);
        padding-top: 2.5rem;
        text-align: center;
    }
    &-title {
        @include bold;
        font-size: 1.8rem;
        line-height: 1.2;
        color: $color-text;
    }
    &-subtitle {
        @include reg;
        font-size: 1.8rem;
        line-height: 1.2;
        color: $color-text;
        max-width: 75%;
        margin: 0 auto;
    }

}

@media (max-width: 1399px) {
    .scheme {
        background-size: 50%;
    }
    .problems-block {
        min-height: 46rem;
    }
}
@media (max-width: 1199px) {
    .feedback {
        &-form {
            .form {
                padding: 5rem 5rem;
            }
        }
    }
    .problems-block {
        min-height: 51.5rem;
    }
    .upsell {
        &-img {
            max-width: 95%;
        }
    }
}
@media (max-width: 991px) {
    .phone-link {
        text-align: center;
    }
    .main {
        background-position: top right;
    }
    .main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    .main-title {
        text-align: center;
    }
    .main-content {
        margin-top: 6rem;
    }
    .section-subtitle {
        margin-top: 3rem;
    }

    .price {
        &-block {
            margin-bottom: 2rem;
        }
        &-btn {
            justify-content: center;
            margin-top: 1.5rem;
        }
        &-container {
            margin-top: 5rem;
        }
    }
    .feedback {
        &-hand {
            display: none;
        }
        .fotorama {
            margin-bottom: 3rem;
        }
    }
    .scheme {
        background-size: 62rem;
    }
    .problems {
        &-block_bad {
            margin-bottom: 2rem;
        }
        &-girl {
            display: none;
        }
    }
    .problems-block {
        min-height: auto;
    }
    .tour {
        background-position: top left;
    }
    .upsell {
        &-btn {
            margin-bottom: 40px;
        }
    }
    .contacts {
        background-position: top left;
        .form {
            margin-top: 5rem;
        }
    }
}
@media (max-width: 767px) {
    .phone-link {
        text-align: right;
    }
    .main {
        background-position: top left;
    }
    .feedback {
        &-prev-btn {
            left: 0;
        }
        &-next-btn {
            right: 0;
        }
    }
    .scheme {
        background: none;
        &-block {
            margin-top: 4rem;
            text-align: center;
        }
        &-text {
            max-width: 100%;
        }
    }
    .footer {
        &-block, &-logo {
            text-align: center;
        }
        .col-md-4 {
            margin-bottom: 40px;
        }
    }
    .mb-0 {
        margin-bottom: 0;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 90%;
    }
    .phone-link {
        padding: 15px;
    }
    .main-title {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .main-form {
        &-input, &-btn {
            max-width: 100%;
        }
    }
}